html {
  /* Background image? */
  background: url(https://source.unsplash.com/random/?father+child) no-repeat center center fixed;
  background-size: cover;
  /* End background image */
  height: 100%;
  overflow: hidden;
}

/* specify design of body of page */
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  align-items: center;
  /* Fonts here */
  font-family: 'Open Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Gloria Hallelujah', cursive;
  /* end of fonts */
    /* background: #fff; */
  /* background-image: url('https://source.unsplash.com/random/?dad&laughing');
  background-size: 100%; */

}

/* design of card or box or container */
.card {
  background: #000000d0;
  color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  padding: 2em;
  margin: 2em;
  font-family: 'Permanent Marker', cursive;
}


/* search section */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
input.searchBar {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.4em;
  background-color: #7c7c7c2b;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  width: 100%;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
}


/* search button */

.searchButton {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  margin: 0.5em;
}


/* section for joke display */
.jokes {
  font-family: 'Gloria Hallelujah';
}
