html {
  background: url(https://source.unsplash.com/random/?father+child) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Gloria Hallelujah', cursive;
    /* background: #fff; */
  /* background-image: url('https://source.unsplash.com/random/?dad&laughing');
  background-size: 100%; */

}